*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #000000;
    --bg-btn-color: #272424;
    --bg-task-color: #433e3e;
    --primary-text-color: #ffffff;
    --delete-coolor: #ff4d4d;

    /* Padding */
    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;
    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l: 15px;
    --padding-xl: 20px;
    --padding-xxl: 35px;

    /* border-radius variables */
    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 25px;
}


html,
body{
    height: 100%;
    width: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav{
    padding: var(--nav-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    top: 0;
    background-color: var(--background-color);
}

nav button{
    background-color: var(--bg-btn-color);
    color: var(--primary-text-color);
    border: none;
    outline: none;
    cursor: pointer;
    padding: var(--padding-m) var(--padding-l);
    border-radius: var(--border-radius-m);
}

section{
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
    /* main ke ander jitni jagah bachi hai tum lelo */
    flex-grow: 1;
    gap: var(--padding-xxl);
}

section .task-column{
    background-color: var(--bg-btn-color);
    border: 1px solid var(--bg-btn-color);
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

section .task-column .heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .task-column.hover-over{
    border: 2px dashed var(--primary-text-color);
    scale: 1.05;
}

section .task-column .task{
    background-color: var(--bg-task-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    cursor: grab;
}

section .task-column .task button{
    align-self: flex-end;
    cursor: pointer;
    padding: var(--padding-s) var(--padding-m);
    border-radius: var(--border-radius-s);
    border: none;
    background-color: var(--delete-coolor);
    color: var(--primary-text-color);
    font-weight: bold;
} 

.modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.active{
    display: flex;
}

.modal .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(61, 61, 61, 0.404);
    backdrop-filter: blur(4px);
}

.modal .center{
    background-color: var(--bg-btn-color);
    padding: var(--padding-xxl);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    z-index: 10;
}

.modal .center input,
.modal .center textarea,
.modal .center select{
    background-color: var(--bg-task-color);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-s);
}

.modal .center button{
    background-color: var(--bg-task-color);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-m) var(--padding-l);
    cursor: pointer;
    border-radius: var(--border-radius-s);
    width: fit-content;
    align-self: center;
}